* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.btn-primary {
  background-color: #f0c040;
  border: none;
  color: #000000;
}
.rating span {
  color: #ffc000;
}
.product-container {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}
.card {
  height: 530px;
  width: 380px;
  border-radius: 10px;
  padding: 10px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.image img {
  width: 150px;
  margin-bottom: 30px;
}
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.img-large {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.img-large img {
  max-width: 60%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}
